@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-Bold.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('/fonts/futura-pt/FuturaPTCond-Bold.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('/fonts/futura-pt/FuturaPTCond-BoldObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('/fonts/futura-pt/FuturaPTCond-Book.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('/fonts/futura-pt/FuturaPT-BookObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-BookObl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-BoldObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('/fonts/futura-pt/FuturaPT-Book.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('/fonts/futura-pt/FuturaPTCond-Medium.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('/fonts/futura-pt/FuturaPTCond-BookObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-BookObl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url('/fonts/futura-pt/FuturaPTCond-ExtraBold.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('/fonts/futura-pt/FuturaPT-Demi.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url('/fonts/futura-pt/FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-ExtraBoldObl.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('/fonts/futura-pt/FuturaPTCond-MediumObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPTCond-MediumObl.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-HeavyObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-HeavyObl.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('/fonts/futura-pt/FuturaPT-ExtraBoldObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-ExtraBoldObl.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('/fonts/futura-pt/FuturaPT-ExtraBold.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-Heavy.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-Light.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('/fonts/futura-pt/FuturaPT-DemiObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-DemiObl.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-LightObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-LightObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-MediumObl.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-MediumObl.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura-pt/FuturaPT-Medium.woff2') format('woff2'),
      url('/fonts/futura-pt/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@tailwind base;

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  @apply font-body overflow-x-hidden w-full bg-light text-dark;
}

#__next {
  @apply flex flex-col min-h-screen;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1,
.h1 {
  @apply text-4xl md:text-5xl;
}

h2,
.h2  {
  @apply text-3xl md:text-4xl;
}

h3,
.h3  {
  @apply text-2xl md:text-3xl;
}

h4,
.h4  {
  @apply text-xl md:text-2xl;
}

h5,
.h5  {
  @apply text-lg md:text-xl;
}

h6,
.h6  {
  @apply text-base md:text-lg;
}

a {
  @apply underline hover:no-underline;
}

header[role="banner"] a {
  @apply no-underline hover:underline;
}

header[role="banner"] nav a {
  @apply md:ml-6;
}

/* Write your base styles here */

@tailwind components;

/* Write your component styles here */

@tailwind utilities;

.full-height-header {
  @apply min-h-screen transform -translate-y-12 py-12 px-wrap relative z-0;
}
